- without_title ||= false

- if event
  .map_event
    - unless without_title
      %h3.event
        - if event.url
          = link_to event.title, event.url
        - else
          = event.title
  
    %p.date
      = event.summarize_period
      at 
      = link_to event.event_venue.title + '.', event.event_venue.url, :class => 'location'
      %br
      = event.short_description
