- content_for :breadhead do
  - home = Page.find_by_parent_id(nil)
  = link_to home.breadcrumb, home.url
  \&gt;
  = link_to "calendar", calendar_url
  \&gt;

- content_for :title do
  Events
  = list_description

- content_for :faceting do
  = render :partial => 'events/faceting'

- content_for :map_js do
  %script{:src => "http://maps.google.com/maps/api/js?sensor=false"}
  %script{:src => "#{url_for(calendar_parameters.merge(:format => :js))}"}
  
= render :partial => 'events/other_page_parts'